:root {
    --background-color: #555;
    --color-white: #fff;
    --span-color: #222;
    --greenYellow-color: greenyellow; 
    --form-color: rgba(0, 0, 0, 0.4); 
    --back-project: #222;
    --item-hover: #3CB371;    
  }
body {
    box-sizing: border-box;
    color: var(--color-white);
    margin: 0;
    background-color: var(--background-color);
    font-family: monospace;
    padding-bottom: 10px;
    border: var(--background-color) solid 2px;
}

/*HEADER*/
header {
    display: flex;
}
h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
h1 span {
    font-size: 40px;
    background-color: var(--span-color);
    padding: 1px 5px 10px 5px;
    border-radius: 2px;
    margin-left: 2px;
}
#style-for-h1 {
    height: 7.5px;
    width: 75px;
    margin-left: 10px;
    background-color: var(--greenYellow-color);
}
nav {
    display: none;
}
.project-buttom {
    display: none;
}
header label {
    background-color: #222; 
    margin-right: 10px;  
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    width: 80px; 
    border-radius: 20px; 
  }
  header label #ball {
    position: absolute; 
    background-color: #fff;  
    width: 30px;
    height: 30px;
    transform: translateX(0); 
    border-radius: 50%; 
    transition: transform .2s linear; 
  }
  header label i {
    position: relative; 
      color: var(--greenYellow-color);
      font-size: 20px;
  }
  #light_dark {
    margin-left: auto; 
  }
  .checkbox {
    opacity: 0; 
  }
  .checkbox:checked + label #ball {
    transform: translateX(32px); 
  }
  /*DARK MODE*/
  body.light {
    --background-color: #DEE4E7;;
    --color-white: #333;
    --span-color: #DA70D6;
    --greenYellow-color: #DA70D6; 
    --form-color: rgba(224, 159, 186, 0.5);
    --back-project: #F5F5F5; 
    --item-hover: #DA70D6;
  }
/*MAIN*/
main {
    margin-top: 50px;
}
main #image-me {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: #222 20px solid;
}
main #description{
    text-align: center;
    margin: 0 25px;
}
main div h2 {
    font-size: 50px;
    margin-top: 5px; 
    margin-bottom: 5px;
}
main div p {
    font-size: 20px;
}
main section .section-stl {
    background-color: var(--greenYellow-color);

}
main section div h3 {
    padding: 20px;
    font-size: 40px;
    color: #333;
}
main section #explanation  {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.project-stl {
    box-shadow: -5px 5px 5px #777, 5px -5px 5px #777;
    font-size: 18px;
    text-align: center;
    background-color: var(--back-project);
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: var(--back-project) 20px solid;
    margin-bottom: 30px;
}
.project-stl:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    color: var(--color-white);
}
.image-project {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
}
.project-stl P {
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
}
#tech-used {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
#tech-used i:nth-child(1) {
    color: #f06529;
    margin-right: 5px;
}
#tech-used i:nth-child(2) {
    color: #2965f1;
    margin-left: 5px;
    margin-right: 5px;
}
#tech-used i:nth-child(3) {
    color: green;
    margin-left: 5px;
}

#contact_me form {
    color: var(--color-white);
    border: solid 1px #404040;;
    background-color: var(--form-color);
    padding: 20px;
    margin: 0 30px;
    border-radius: 10px;
}
#contact_me form p {
    font-size: 20px;
    margin-bottom: 0;
}
input {
    width: 90%;
    border-radius: 5px;
}
textarea {
    border-radius: 5px;
    width: 90%;
    height: 200px; 
    display: block;
    margin: 0 auto; 
}
input, textarea {
    margin-top: 1px;
}
input, form p {
    margin-left: 7px;
}
button {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

#social_media p {
    background-color: #3CB371;
    text-align: center;
    padding: 10px 0;
    margin: 50px 60px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px #888, 5px -5px 5px #888;
}
#social_media div {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
#social_media div a i{
    font-size: 40px;
}
#social_media div a:nth-child(1) {
    color: #3b5998;
}
#social_media div a:nth-child(2) {

    color: #00acee;
} 
#social_media div a:nth-child(3) {
    color: #de1b85;
}
#social_media div a:nth-child(4) {
    color: #fff;
}
#social_media div a i:hover {
    transform: scale(1.1);

}
footer {
    text-align: center;
    margin-top: 40px;
}
script {
    width: 0;
    height: 0;
}
/*MEDIA FOR TABLET*/ 
@media (min-width: 760px) {
    #social_media div a .fa-facebook::after{
        content: " Facebook";
    }
    #social_media div a .fa-twitter::after{
        content: " Twitter";
    }
    #social_media div a .fa-instagram::after{
        content: " Instagram";
    }
    #social_media div a .fa-free-code-camp::after{
        content: "FreeCodeCamp";
    }
    #contact_me .form_social form {
        width: 250px;
    }
    .form_social {
        display: flex;
    }
    #contact_me .form_social #social_media { 
        margin-left: auto;
        margin-right: 50px;
    }
    #contact_me .form_social #social_media p {
        margin-top: 0;
        padding: 10px 60px;
    }
    #contact_me .form_social #social_media div {
        flex-direction: column;
        align-items: center;
    }
    #contact_me .form_social #social_media div a {
        font-size: 10px;
        margin-bottom: 20px;
    }

}
/*MEDIA FOR DESTOKP*/
@media (min-width: 1024px) {
    nav {
        display: inherit;
        margin-left: auto;
    }
    nav ul {
        width: 600px;
        padding-left: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
    }
    nav ul a:hover {
        color: var(--item-hover);
        padding-bottom: 5px;
        border-bottom: 5px solid var(--greenYellow-color);
        border-radius: 10px;
    }
    main #destokp_display {
        display: flex;
        flex-direction: row-reverse;
        line-height: 30px;
    }
    main #destokp_display #description {
        margin-left: auto;
    }
    main #destokp_display #image-me {
        margin-right: auto;
    }
    main #destokp_display #description h2 {
        margin-top: 75px;
        margin-bottom: 25px;
    }
    main #destokp_display p {
        text-align: center;
        width: 350px;
    }
    .project-buttom {
        border-radius: 10px;
        padding: 5px 10px;
        font-size: 18px;
        color: var(--color-white);
        background-color: var(--item-hover);
        display: block;
        margin: 0 auto;
        width: 90px;
        height: 35px;
        margin-top: 0;

    }
    .project-buttom:hover {
        transform: scale(1.2);
        box-shadow: -3px -3px var(--form-color), 3px 3px var(--form-color);
    }

}
