html, body {
    color:#fff;
    margin: 0;
    padding: 0;
    background-color: #555;
    font-family: monospace;
    padding-bottom: 20px;
}
/*HEADER*/
header {
    display: flex;
}
h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
h1 span {
    font-size: 40px;
    background-color: #222;
    padding: 1px 5px 10px 5px;
    border-radius: 2px;
    margin-left: 2px;
}
#style-for-h1 {
    height: 7.5px;
    width: 75px;
    margin-left: 10px;
    background-color: greenyellow;
}
header i {
    color: greenyellow;
    font-size: 35px;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 20px;
}
/*MAIN*/
main {
    margin-top: 50px;
}
main #image-me {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: #222 20px solid;
}
main #description{
    text-align: center;
    margin: 0 25px;
}
main div h2 {
    font-size: 50px;
    margin-top: 5px; 
    margin-bottom: 5px;
}
main div p {
    font-size: 20px;
}
main section .section-stl {
    background-color: greenyellow;

}
main section div h3 {
    padding: 20px;
    font-size: 40px;
    color: #222;
}
main section #explanation  {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.project-stl {
    box-shadow: -5px 5px 5px #777, 5px -5px 5px #777;
    font-size: 18px;
    text-align: center;
    background-color: #222;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: #222 20px solid;
    margin-bottom: 30px;
}
.project-stl:hover {
    transform: scale(1.05);
}
a {
    text-decoration: none;
    color: white;
}
.image-project {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: auto;
}
.project-stl P {
    font-size: 16px;
    text-align: left;
    margin-left: 12px;
}
#tech-used {
    font-size: 50px;
    display: flex;
    justify-content: center;
}
#tech-used i:nth-child(1) {
    color: #f06529;
    margin-right: 5px;
}
#tech-used i:nth-child(2) {
    color: #2965f1;
    margin-left: 5px;
    margin-right: 5px;
}
#tech-used i:nth-child(3) {
    color: green;
    margin-left: 5px;
}

#contact form {
    border: solid 1px #404040;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 0 30px;
    border-radius: 10px;
}
#contact form p {
    font-size: 20px;
    margin-bottom: 0;
}
input {
    width: 90%;
    border-radius: 5px;
}
textarea {
    border-radius: 5px;
    width: 90%;
    height: 200px; 
    display: block;
    margin: 0 auto; 
}
input, textarea {
    margin-top: 1px;
}
input, form p {
    margin-left: 7px;
}
button {
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    margin-top: 10px;
}

#social_media p {
    background-color: #3CB371;
    text-align: center;
    padding: 10px 0;
    margin: 50px 60px;
    border-radius: 5px;
    box-shadow: -5px 5px 5px #888, 5px -5px 5px #888;
}
#social_media div {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
#social_media div a i{
    font-size: 40px;
}
#social_media div a:nth-child(1) {
    color: #3b5998;
}
#social_media div a:nth-child(2) {

    color: #00acee;
} 
#social_media div a:nth-child(3) {
    color: #de1b85;
}
#social_media div a:nth-child(4) {
    color: #fff;
}
#social_media div a i:hover {
    transform: scale(1.1);

}
